<html>
<head>
<title>Registration Form for Voters</title>
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>

Optional theme
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="/mystyles.css"></link>
Latest compiled and minified JavaScript
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	crossorigin="anonymous"></script> -->
<script type="text/javascript" src="/myscripts.js"></script>

</head>
<body>
	<div class="container">
		<h2 class="mygreen mycontainer" onmouseover="myfunction();" onclick="myfunction();">Electronic Voter Registration Application</h2>

		<div class="mycontainer">
		
		Before You Start To register online you must register.
		You will need your Social
		Security Number.</div>

		<h4 id="myblue">How can I register to vote online?</h4>
		<p><span class="myposition">i will float</span>You can use your<b>SSN</b> to 
		    <i>complete</i> an <cite>application</cite> to <code>register</code> to
			vote or to update the <strong>information</strong> you <ins>have</ins> 
			on <kbd>file</kbd> with the <a href="www.google.com">New York</a>
			State Board of Elections. Updated information could include providing
			your County Board of Elections with your new name, new address, or
			changing a party enrollment. We forward completed applications to the
			appropriate County Board of Elections for approval and processing.
			Learn more about Electronic Voter Registration. Go to MyDMV.</p>
		<h4>Why do I have to sign up to use it?</h4>
		<p>Secure sign-up protects you. When you sign up for MyDMV, you
			are verifying your identity with a high degree of certainty. You must
			provide information such as a document number that appears on your
			DMV driver license or other photo document and the last four digits
			of your social security number. If you prefer not to sign up to
			register to vote or change your voter information, visit of the NYS
			Board of Elections website.</p>
	</div>
</body>
</html>